body {
    font-family: Arial, sans-serif;
    background-color: #fcfcfc;
    color: #000000;
    line-height: 1.6;
}

h1 {
    color: #7173f7;
    /* Um azul Django */
}

ul {
    background-color: #00a2ff;
    border: 1px solid #000000;  
    padding: 15px;
    margin-inline: 10px;
    display: inline-block;
}

li {
    list-style-type: square;
}

